<ion-header>
  <ion-toolbar color="primary">
    <ion-title id="title">Book Demand Clerk</ion-title>
    <ion-button id="adminButton" (click)="adminHandler()">Administrator</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Login</h3>
          </div>
          <div class="ion-padding">
            <ion-list>
              <!-- <ion-item *ngFor="let field of fields">
                  <ion-input name="{{field}}" type="{{field}}" placeholder="{{field}}" ngModel required></ion-input>
                </ion-item> -->
              <ion-item>
                <ion-input name="First Name" type="firstName" placeholder="First Name" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="Last Name" type="lastName" placeholder="Last Name" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <!-- <ion-label>Department</ion-label> -->
                <ion-select name="Department" color="secondary" #font placeholder="Select Department" ngModel required>
                  <ion-select-option value="Computer Science">Computer Science</ion-select-option>
                  <ion-select-option value="English">English</ion-select-option>
                  <ion-select-option value="Math">Math</ion-select-option>
                  <ion-select-option value="Physics">Physics</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>
          <div class="ion-padding">
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>