.data-table {
    min-width: 400px;
    margin-left: auto; 
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.data-col {
    background: #f0f0f0;
}

.has-focus {
    --background: #0cd1e8;
}

.header {
    height: 64px;
    background: #3171e0;
}

.upload-btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    min-height: 50px;
    min-width: 400px;
}

.drop-zone { 
    background-color: #f6f6f6;
    border: dotted 3px #dedddd; 
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.file-input-container {

    text-align: right;

    input[type="file"] {
        display: none;
    }

    label {
        border: 1px solid #ccc;
        padding: 6px 12px;
        cursor: pointer;
    }
}

.nv-file-over { 
    border: dotted 3px red; 
}