<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button href="admin" slot="start"></ion-back-button>
    <ion-title>Upload Books</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Select which department -->
  <ion-item>
    <ion-select name="Department" color="secondary" #font placeholder="Select Department" [(ngModel)]="department" required>
      <ion-select-option value="Computer Science">Computer Science</ion-select-option>
      <ion-select-option value="English">English</ion-select-option>
      <ion-select-option value="Math">Math</ion-select-option>
      <ion-select-option value="Physics">Physics</ion-select-option>
    </ion-select>
  </ion-item>

  <table border="1" class="data-table">
    <!-- header section -->
    <tr>
      <td *ngFor="let header of headerRow" text-center class="header">
        <b>{{ header }}</b>
      </td>
    </tr>
    <!-- data section -->
    <tr *ngFor="let row of csvData; let i = index">
      <td *ngFor="let data of row; let j = index; trackBy: trackByFn" class="data-col">
        <ion-input type="text" [(ngModel)]="csvData[i][j]"></ion-input>

      </td>
    </tr>
  </table>
</ion-content>

<ion-button (click)="uploadBooks()" color="primary" class="upload-btn">
  Upload Books
</ion-button>

<ion-button (click)="loadFileData()" color="primary">
  Load File Data
</ion-button>

<!-- <app-multi-file-upload></app-multi-file-upload> -->
<div>
  <label>
    <input type="file" ng2FileSelect [uploader]="uploader" multiple />
    Add Files
  </label>
</div>

