<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button href="login" slot="start"></ion-back-button>
    <ion-title id="title">Faculty Ratings</ion-title>
    <ion-button href="https://console.firebase.google.com/u/0/project/bookdemandclerk/overview" slot="end">
      Firebase
    </ion-button>
    <ion-button id="raw" (click)="switchTable()" slot="end">{{switchLabel}}</ion-button>
    <ion-button id="upload" (click)="uploadBooksPage()" slot="end">Upload Books</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding">
    <ion-title> Rankings </ion-title>
  </div>
  <div class="ion-padding">

    <!-- Theme classes dark, material, bootstrap -->
    <ngx-datatable class="material" [limit]="50" [rows]="rows" [rowHeight]="50" [columns]="columns"
      [columnMode]="'force'" [sortType]="'multi'" [headerHeight]="50" [footerHeight]="50">
    </ngx-datatable>

  </div>

  <div class="ion-padding">

    <div class="ion-padding">
      <ion-title> Books </ion-title>
    </div>

    <!-- Theme classes dark, material, bootstrap -->
    <ngx-datatable class="material" [limit]="50" [rows]="bookRows" [rowHeight]="50" [columns]="bookColumns"
      [columnMode]="'force'" [sortType]="'multi'" [headerHeight]="50" [footerHeight]="50">
    </ngx-datatable>

  </div>
</ion-content>