<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-input required type="text" placeholder="Book ISBN" [(ngModel)]="todo.bookISBN"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="Book Title" [(ngModel)]="todo.bookTitle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="First Name" [(ngModel)]="todo.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="First Name" [(ngModel)]="todo.lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="Deparment" [(ngModel)]="todo.department"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="Score" [(ngModel)]="todo.score"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveRanking()">Save</ion-button>
</ion-content>