<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Calvin Book Demand Clerk
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- <ion-item *ngFor="let book of books">
    <ion-thumbnail item-start>
      <img src="http://placehold.it">
    </ion-thumbnail> 
    <h2>Item Thumbnail</h2>
    <p>subtitle</p>
    <app-expandable [expandHeight]="itemExpandHeight" [expanded]="itemExpanded">
      Hello people
    </app-expandable>
  </ion-item> -->

  <ion-list>
    <ion-card *ngFor="let book of books">
      <ion-card-header>
        <ion-card-title (click)="expandItem(book)">{{book.title}}</ion-card-title>
        <!-- <ion-label>Vote: </ion-label> -->
        <ion-button shape="round" [color]="book.buttonColor1" (click)="voteButtonClicked(1, book)">1</ion-button>
        <ion-button shape="round" [color]="book.buttonColor2" (click)="voteButtonClicked(2, book)">2</ion-button>
        <ion-button shape="round" [color]="book.buttonColor3" (click)="voteButtonClicked(3, book)">3</ion-button>
      </ion-card-header>
  
      <!-- <ion-card-content> -->
        <app-expandable [expandHeight]="itemExpandHeight" [expanded]="book.expanded">
          <div class="header">Author(s):</div>
          <p class="description" color="dark">{{book.authors}}</p>
          <p></p>
          <h1 class="header" color="dark">Description:</h1>
          <p class="description" color="dark">{{book.description}}</p>
          <a class="hlink" href="{{book.reviews}}">Reviews</a>
        </app-expandable>
      <!-- </ion-card-content> -->
      </ion-card>
  </ion-list>

  <ion-button shape="round" (click)="submitButton()">Submit</ion-button>
  <div *ngFor="let book of books">
    <ion-label *ngIf="valid">{{book.title}}: {{book.value}}</ion-label>
  </div>
</ion-content>
