<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Calvin Book Demand Clerk
    </ion-title>
    <ion-button *ngIf="isAdmin" id="adminButton" (click)="adminHandler()" slot="end">Administrator</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let book of books">
      <ion-card-header>
        <ion-card-title>{{book.title}}</ion-card-title>
        <!-- <ion-label>Vote: </ion-label> -->
        <div class="voteItems">
          <ion-button shape="round" [color]="book.buttonColor1" (click)="voteButtonClicked(1, book)">1 - Essential</ion-button>
          <ion-button shape="round" [color]="book.buttonColor2" (click)="voteButtonClicked(2, book)">2 - Useful</ion-button>
          <ion-button shape="round" [color]="book.buttonColor3" (click)="voteButtonClicked(3, book)">3 - Optional</ion-button>
          <ion-checkbox class="eBook" [(ngModel)]="book.isChecked"></ion-checkbox>
          <ion-label class="eBook eBookLabel">eBook okay?</ion-label>
          <ion-button slot="end" id="expandButton" shape="round" [color]="primary" (click)="expandItem(book)">{{getExpandButtonText(book)}}</ion-button>
        </div>
        
      </ion-card-header>
  
      <!-- <ion-card-content> -->
        <app-expandable [expandHeight]="itemExpandHeight" [expanded]="book.expanded">
          <p class="description" color="dark">ISBN: {{book.isbn}}</p>
          <div class="description">Author(s): {{book.authors}}</div>
          <!-- <p class="description" color="dark">{{book.authors}}</p> -->
          <p></p>
          <h1 class="description" color="dark">Description:</h1>
          <p class="description" color="dark">{{book.description}}</p>
          <!-- <a class="hlink" href="{{book.reviews}}">Reviews</a> -->
        </app-expandable>
      <!-- </ion-card-content> -->
      </ion-card>
  </ion-list>

  <ion-button *ngIf="notSubmitted" shape="round" (click)="submitButton()">Submit</ion-button>
  <!-- <div *ngFor="let book of books">
    <ion-label *ngIf="valid">{{book.title}}: {{book.value}}</ion-label>
  </div> -->
</ion-content>
