.description {
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
    color: black;
}

.header {
    padding-left: 20px;
    font-size: large;
    color: black;
}

.hlink {
    padding-left: 20px;
    font-size: large;
}

#expandButton {
    float: right;
    max-width: 50%;

}

.voteItems {
    display: flex;
    align-items: flex-end;
}

.eBook {
    margin-left: 50px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.eBookLabel {
    margin-right: 200px;
    margin-left: 10px;
}

// ion-item{
//     --background: #3880ff;
//     --color: #fff;
// }
ion-button{
    --background: #062f77;
}

#adminButton {
    --background: #062f77;
    float: right;
}

#title {
    --background: #062f77;
    float: left;
}

a{
    color: #fff;
}